html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* * {
    box-sizing: border-box;
} */

html {
    height: 100%;
    scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
menu,
figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'TT Lakes', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.container {
    min-width: 320px;
    /* padding: 0 16px; */
}

@media (min-width: 768px) {
    .container {
      min-width: 768px; 
      /* padding: 0 24px; */
    }       
} 

@media (min-width: 1120px) {
    .container {
        min-width: 1120px;  
        /* padding: 0 34px;    */
    }   
} 

.header {
    display: flex;
    flex-direction: column;
    /* padding: 19px 0; */
}

@media (min-width: 1120px) {
    .header {
        flex-direction: row;  
        justify-content: space-between;
        padding: 42px 32px 8px 0;
        background-color: #F8F8F8;
    }
} 

.header__title {
    order: 2;
    background-color: #F8F8F8;
    padding: 24px 16px;   
    position: relative;   
    font-weight: 700;
    font-size: 28px;
    line-height: 143%;
    letter-spacing: -0.02em;
    color: #1b1c21;
}

@media (min-width: 768px) {
    .header__title {
        font-size: 28px;    
        padding: 24px 24px; 
    } 
} 

@media (min-width: 1120px) {
    .header__title {
        order: 0;
        padding: 24px 34px;
    }
} 

.header__title::before {
    content: ''; 
    position: absolute;
    height:40px;
    width: 4px;
    background-color: #41F6D7;
    top: 0;
    left:  0;
    transform: translateY(55%);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding: 19px 16px;
    position: relative;
    background-color: white;
}

@media (min-width: 768px) {
    .nav {
        padding: 19px 24px;
    }
} 

@media (min-width: 1120px) {
    .nav {
        padding: 0;
        background-color: #F8F8F8;
    }
} 

.nav::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100vw;
    background-color: #D9FFF5;
    bottom: 0px;
    left:  50%;
    transform: translateX(-50%);
}

@media (min-width: 1120px) {
    .nav::after {
        content: none;
    }
} 

.nav__left {
    display: flex;    
    justify-content: space-between;
    width: 172px;
    align-items: center;
}

@media (min-width: 768px) {
    .nav__left {
        justify-content: space-between;
        width: 180px;
    }      
} 

@media (min-width: 1120px) {
    .nav__left {
        display: none;  
    }    
} 

.nav__right {
    display: flex;    
    justify-content: space-between;
    width: 96px;
    align-items: center;
}

@media (min-width: 768px) {
    .nav__right {
        justify-content: space-between;
        width: 290px;
    }      
} 

@media (min-width: 1120px) {
    .nav__right {
        display: none;     
    } 
} 

.nav__wrapper {
    display: none;
}

@media (min-width: 1120px) {   
    .nav__wrapper {
        display: flex;
        align-items: center;
        margin-left: 32px;
        text-decoration: none;
    }
}

.nav__text {
    margin-right: 8px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;    
    text-align: right;
    color: #1b1c21;   
}

.nav__link {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.nav__logo {
    display: block;
    width: 97px;
    height: 51px;
    background-image: url(../img/header/logo.png);
}

.nav__separator {
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #eaeaea;
}

.nav__link--menu {
    background-image: url(../img/header/icon-menu.png);
}

.nav__link--application {
    background-image: url(../img/header/icon-application.png);
}

.nav__link--status {
    background-image: url(../img/header/icon-status.png);
}

.nav__link--tel {
    background-image: url(../img/header/icon-tel.png);
}
.nav__link--message {
    background-image: url(../img/header/icon-message.png);
}
.nav__link--contacts {
    background-image: url(../img/header/icon-contacts.png);
}

/* -----------------main----------------- */

.main {
    background-color: #F8F8F8;
}

@media (min-width: 768px) {
    .main { 
        padding: 0 24px;        
    }
} 

@media (min-width: 1120px) {
    .main { 
        padding: 0 34px;        
    }
} 

.menu {
    display: flex;    
    padding: 0 16px;
    list-style: none;
    
    overflow: scroll;
    margin-bottom: 24px;
}

@media (min-width: 768px) {
    .menu { 
        padding: 0;       
    }
} 

@media (min-width: 1120px) {
    .menu {
        flex-wrap: wrap;
        justify-content: space-between;        
        overflow: auto;
    }
}

.munu__item {
    height: 40px;
    border: 2px solid #F8F8F8; 
    background-color: #F8F8F8;
    transition: background-color 0.5s, border 0.5s;   
}

.munu__item:hover {
    background-color: white;
    border: 2px solid #b8ffec;
    border-radius: 6px;
}

.munu__link {
    display: block;    
    padding: 0 16px;
    text-decoration: none;
    color: #7e7e82;
    font-weight: 500;
    font-size: 16px;
    line-height: 35px;       
    white-space: nowrap; 
}

.munu__item--active {
    background-color: white;
    border: 2px solid #b8ffec;
    border-radius: 6px;
}

@media (min-width: 768px) {
    .description {
        display: flex;  
        justify-content: space-between;   
     
    }
} 

.description__wrapper {
    padding: 0 16px;
}

@media (min-width: 768px) {
    .description__wrapper {
        padding: 0;  
     
    }
} 

.description__p {    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: 0.01em;
    color: #1b1c21;
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    .description__p { 
        width: 315px;
    }
} 

@media (min-width: 1120px) {
    .description__p { 
        width: 490px;
    }
} 

.description__p--tablet {
    display: none;
}

@media (min-width: 768px) {
    .description__p--tablet { 
        display: block;
    }
} 

@media (min-width: 1120px) {
    .description__p--tablet { 
        display: block;
    }
} 

.read-more {
    display: block;
    padding: 0 32px;
    position: relative;
    margin-bottom: 16px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #1b1c21;
}

.read-more::before {
    width: 8px;
    height: 11px;
    position: absolute;
    top: 0;
    left: 8px;
    transform: translateY(50%);
    content: '';
    background-image: url(../img/main/icon-next.png);
}

.image {
    width: 320px;
    height: 176px;
    margin: 0 auto;
    background-image: url(../img/main/img-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-width: 768px) {
    .image {
        margin: 0;
        width: 360px;
        height: 208px;
    }
} 

@media (min-width: 1120px) {
    .image {
        width: 531px;
        height: 307px;
    }
} 

/* ----------------- //main----------------- */

@media (min-width: 768px) {
    .mobile {
        display: none;     
    }  
} 

@media (min-width: 1120px) {
    .mobile {
    display: none;     
    } 
} 

.tablet {
    display: none; 
}

@media (min-width: 768px) {
    .tablet {
        display: block;    
    }  
} 

@media (min-width: 1120px) {
    .tablet {
        display: none;    
    }  
}


